[Unit]
Description=piclock
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/rasppi-clock/clock.py
User=pi
Group=pi

[Install]
WantedBy=default.target